---
layout: default
title: Knowledge Base | Adam Ashpool
---
<h1>Linux</h1>
<ul class="posts">
  {% for post in site.categories["linux"] %}
  <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>Haskell</h1>
<ul class="posts">
  {% for post in site.categories["haskell"] %}
  <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>Scala</h1>
<ul class="posts">
  {% for post in site.categories["scala"] %}
  <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
